# Clerk
# Get your Clerk API keys from the Clerk Dashboard
# https://dashboard.clerk.com/last-active?path=api-keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# InstantDB
# Get your InstantDB app ID from the InstantDB Dashboard
NEXT_PUBLIC_INSTANTDB_APP_ID=
# Get your Clerk client name from the Auth tab in the InstantDB Dashboard
NEXT_PUBLIC_CLERK_CLIENT_NAME=
